
body {
  margin: 0;
}

h1 {
  margin-top: 0;

}

.Top {
  background-color: #8D72E1;
}

.Mid {
  background-color: #8D9EFF;
  width: 200px;
  height: 200px;
}

.Bot {
  background-color: #B9E0FF;
  width: 200px;
  height: 200px;
}
